<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">Board Name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">{{ column.name }}</div>
          <div
            class="task-container"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              style="position: relative"
              class="task"
              *ngFor="let item of column.tasks"
              cdkDrag
            >
              <div>
                {{ item }}
                <button
                  style="position: absolute; right: 0"
                  (click)="deleteItem(item, column)"
                >
                  -
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="canAdd">
            <mat-form-field appearance="fill">
              <input
                matInput
                mat-icon-button
                #add
                value="Template task"
              /><mat-icon
                matSuffix
                style="cursor: pointer"
                (click)="addItem(add.value, column)"
              >
                done
              </mat-icon>
            </mat-form-field>
          </div>
          <div class="button" (click)="onClick()">Dodaj kartę</div>
        </div>
      </div>
    </div>
  </div>
</div>
